html, body {
    margin: 0;
    padding: 0;
    outline: 0;
    font-weight: normal;
    vertical-align: baseline;
    height: 100%;
}
body {
    font-family: 'Nanum', 'Apple Gothic', 'Malgun Gothic', 'Nanum Gothic', 'Dotum', Arial, sans-serif;
    font-size: 13px;
    background: #fff;
    color: #333;
}
ul, dl, dt, dd {
    margin: 0;
    padding: 0;
    outline: 0;
}
i, em, address {
    font-style: normal;
    font-weight: normal;
}
a {
    text-decoration: none;
    color: #333;
}
a:hover {
    cursor: pointer;
}
*[downarrow] > a:after {
    content: '';
    display: inline-block;
    zoom: 1;
    width: 7px;
    height: 11px;
    background: url(https://cdn.bmf.kr/web/common/bul_arr_down.png) no-repeat center 1px;
    margin-left: 4px;
}
* > a:hover:after {
    background-position: center -13px;
}
ol, ul, dl {
    list-style: none;
}
bmf-modal:before {
    width: 100%;
    height: 100%;
}
bmf-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 100;
    pointer-events: none;
    opacity: 0;
    transition: .5s;
}
bmf-modal[opened] {
    display: block;
    position: fixed;
    pointer-events: all;
    opacity: 100;
}
bmf-modal-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
bmf-modal-inner:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
bmf-modal-inner > * {
    display: inline-block;
    vertical-align: middle;
}
.detail_container {
    margin: 30px;
}
.detail_container .side_left {
    float: left;
    margin: 35px 0 0 45px;
}
.detail_container .side_right {
    float: left;
    text-align: left;
    margin: 25px 0 0 45px;
    height: 500px;
}
.detail_container .prod_title {
    font-size: 30px;
    font-family: NanumEB, sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
    padding: 5px 0 0 0;
}
.detail_container .prod_description {
    color: #333;
    font-size: 14px;
    line-height: 1.6;
    padding: 10px 0 0 0;
}
.detail_container .prod_info {
    position: relative;
    margin: 10px 0 0 50px;
    line-height: 1.85;
}

.prod_info dt {
    position: relative;
    float: left;
    clear: both;
    left: -50px;
    margin-right: -50px;
    color: #999;
}
.prod_info dd {
    position: relative;
    float: right;
    width: 90%;
}
.prod_price {
    text-align: right;
}
.prod_price .n_price {
    color: #888;
    font-size: 20px;
    text-decoration: line-through;
    padding-right: 10px;
}
.prod_price .s_price {
    font-size: 33px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
}
.detail_container .top_images {
    margin-top: 0;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    width: 350px;
    height: 350px;
}
.thumb_images li {
    width: 57px;
    height: 57px;
    border: 1px solid #ddd;
    display: inline-block;
    margin: 5px;
    background-color: #f3f3f3 !important;
}
.thumb_images li:last-child {
    margin-right: 0;
}
.thumb_images li:first-child {
    margin-left: 0;
}

.prod_detail {
    max-width: 1250px;
    width: calc(90% - 20px);
    background: white;
    border: 6px solid #2ac1bc;
    border-top: 0;
}
.prod_detail-close {
    display: block;
    width: calc(90% - 20px);
    position: absolute;
    max-width: 1250px;
    text-align: right;
    margin-left: 20px;
}
.prod_detail-close-inner {
    position: relative;
    margin-top: -15px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 100px;
    border: 3px solid #2ac1bc;
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.5);
}
.prod_detail-close-btn {
    display: block;
    width: 24px;
    height: 24px;
    left: 3px;
    position: relative;
}
.prod_detail-close-btn:before, .prod_detail-close-btn:after{
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #2ac1bc;
    border-radius: 2px;
    top: 14px;
}
.prod_detail-close-btn:before{
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    transform:rotate(45deg);
    left:2px;
}
.prod_detail-close-btn:after{
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    transform:rotate(-45deg);
    right:2px;
}

.prod_detail-title {
    background: #2ac1bc;
    text-align: left;
    padding: 12px;
    font-weight: bold;
    color: white;
    font-size: 1.1rem;
}
.prod_detail-content {
    overflow: auto;
    width: 100%;
    max-height: 600px;
}
.prod_detail-context:hover {
    outline: 0;
}

bmf-modal[opened]~bmf-content {
    filter: blur(6px);
    pointer-events: none;
}
bmf-content {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .5s;
}
bmf-content-inner {
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
}
bmf-content-inner:focus {
    outline: 0;
}

sitebar {
    display: block;
    position: relative;
    border-bottom: 1px solid #e9e9e9;
}
sitebar a {
    display: block;
    font-size: 12px;
    height: 17px;
    padding: 10px 11px 9px;
    text-align: center;
}
sitebar a:hover {
    color: #2ac1bc;
}
.sitebar-section {
    position: relative;
    width: 980px;
    height: 36px;
    margin: 0 auto;
    height: 36px;
    overflow: visible;
    letter-spacing: -0.2px;
    font-family: "Nanum";
}
.link_app {
    float: left;
}

ul.link_lst {
    position: relative;
    float: right;
}

ul.link_lst > li {
    float: left;
    display: block;
    position: relative;
}
ul.link_lst > li:not(:first-child):before{
    content: '';
    display: inline-block;
    width: 1px;
    height: 11px;
    background: #ddd;
    transform: translate3d(1px, 2px, 0);
}
ul.link_lst > li > a {
    display: inline-block;
    font-size: 12px;
    height: 17px;
    padding: 10px 10px 9px 10px;
    text-align: center;
}
.header-section {
    position: relative;
    width: 980px;
    height: 98px;
    margin: 0 auto;
    overflow: hidden;
}

.bmf-logo {
    float: left;
    margin: 16px 0 0;
}
.searchbar {
    position: relative;
    float: left;
    margin-top: 30px;
    margin-left: 25px;
}
.searchbar input {
    border: 1px solid #cfd0d2;
    width: 178px;
    height: 38px;
    line-height: 38px;
    padding: 0 15px;
    color: #888;
    font-family: Verdana, 나눔고딕, "Nanum", "Malgun Gothic", sans-serif;
}
.searchbar button {
    background: url(https://cdn.bmf.kr/web/common/ic_search.png) no-repeat center 0;
    width: 38px;
    height: 38px;
    text-indent: -3000px;
    position: absolute;
    top: 2px;
    right: 0;
    border: 0;
}
ul.gnb_top {
    float: right;
    overflow: hidden;
}
ul.gnb_top > li {
    float: left;
}
ul.gnb_top > li > a {
    display: block;
    height: 48px;
    margin: 25px 0 25px 50px;
}

nav {
    background-color: #483f35;
}

.nav-section {
    width: 980px;
    height: 52px;
    margin: 0 auto;
}
ul.gnb > li {
	float: left;
	position: relative;
	text-align: left;
}
ul.gnb > li > a {
	display: block;
	padding: 5px 0 0 1px;
}
ul.gnb > li > a > span {
	display: inline-block;
	*display: block;
	*zoom: 1;
	color: #fff;
	font-size: 16px;
	font-family: "NanumBold", 맑은고딕, "Malgun Gothic", sans-serif;
	height: 36px;
	padding: 11px 25px 0;
	text-align: center;
	letter-spacing: 0;
	cursor: pointer;
}
ul.gnb > li.now > a > span {
	color: #25d4ce;
	font-family: 'NanumEB', sans-serif;
}
ul.gnb > li:hover > a > span,
ul.gnb > li:focus > a > span {
	background: #fff;
	color: #2ac1bc;
}
ul.gnb > li.g1 {
	width: 100px;
}
ul.gnb > li.g2 {
	width: 124px;
}
ul.gnb > li.g3 {
	width: 124px;
}
ul.gnb > li.g4 {
	width: 124px;
}
ul.gnb > li.g5 {
	width: 124px;
}
ul.gnb > li.g6 {
	width: 124px;
}
ul.gnb > li.g7 {
	width: 120px;
}
ul.gnb > li.g8 {
	width: 140px;
	background: #362d25;
	text-align: center;
}
ul.gnb > li:hover > ul {
    display: block;
}
ul.sub_lst {
	display: none;
	/*min-height: 255px; */
	width: 162px;
	position: absolute;
	left: 0;
	top: 52px;
	padding: 20px 0 31px;
	font-family: "Nanum", sans-serif;
	background: #fff;
	border: 1px solid rgba(72, 63, 53, .6);
	border-top: none;
	z-index: 1000;
	-moz-background-clip: border;
	/* Firefox 3.6 */
	-webkit-background-clip: border;
	/* Safari 4? Chrome 6? */
	background-clip: border-box;
	/* Firefox 4, Safari 5, Opera 10, IE 9 */
	-moz-background-clip: padding;
	/* Firefox 3.6 */
	-webkit-background-clip: padding;
	/* Safari 4? Chrome 6? */
	background-clip: padding-box;
	/* Firefox 4, Safari 5, Opera 10, IE 9 */
}
.ua-ie-7 ul.sub_lst,
.ua-ie-8 ul.sub_lst {
	border: 1px solid #483f35;
	border-top: none;
}
ul.sub_lst>li {
	text-align: left;
}
ul.sub_lst>li.sub_tlt {
	border-top: 1px solid #e8e8e8;
	padding: 14px 0;
}
ul.sub_lst>li.sub_tlt h4 {
	padding: 0 0 3px 25px;
	line-height: 1.4em;
	font-size: 14px;
	color: #222;
	letter-spacing: 0;
	font-family: 'NanumEB', sans-serif;
}
ul.sub_lst>li.sub_tlt.first {
	border-top: none;
	padding-top: 7px;
}
ul.sub_lst>li.sub_tlt.last {
    padding-bottom: 0px;
}

ul.sub_lst a {
    display: block;
    color: #555;
    font-size: 14px;
    line-height: 1.4em;
    padding: 6px 0 3px 25px;
    letter-spacing:0;
}
ul.sub_lst a:hover, ul.cate_sub a:focus {
    color: #2ac1bc;
    font-family: "NanumBold", sans-serif;
}
ul.sub_lst a:hover span, ul.cate_sub a:focus span {
    padding-bottom:1px;
    border-bottom:1px solid #2ac1bc;
}

ul.gnb > li.g8 ul.sub_lst {
    position: absolute;
    left: -24px;
}
ul.gnb > li.g8 ul.sub_lst a {
    padding: 6px 20px 3px 0;
    text-align:right;
}
main {
    position: relative;
    text-align: center;
    max-width: 1920px;
    margin: 0 auto;
}
.content {
    position: relative;
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
}

.main-slides-banner {
    width: 100%;
    height: 420px;
    margin: 0 auto;
    /*background: url('http://placehold.it/1920x420/DEDAD7/000000?text=Slide banner section%20Area%20(1920x420)');*/
    background: url('https://cdn.bmf.kr/banner/main_banner/170718/1500350864138_c3a2aaae9eda.jpg');
    background-position: center;
}

.main_slides_lst > li {
    float: none;
    list-style: none;
    position: absolute;
    width: 1920px;
    z-index: 0;
}

.main-best-prds {
    position: relative;
    background: #eee;
}

.main-best-prds-inner {
    width: 980px;
    height: 680px;
    margin: 0 auto;
}


/* one item */
.tab_area li:first-child:nth-last-child(1) {
  width: 100%;
}

/* two items */
.tab_area li:first-child:nth-last-child(2),
.tab_area li:first-child:nth-last-child(2) ~ li {
  width: 50%;
}

/* three items */
.tab_area li:first-child:nth-last-child(3),
.tab_area li:first-child:nth-last-child(3) ~ li {
  width: 33.3333%;
}

/* four items */
.tab_area li:first-child:nth-last-child(4),
.tab_area li:first-child:nth-last-child(4) ~ li {
  width: 25%;
}

/* five items */
.tab_area li:first-child:nth-last-child(5),
.tab_area li:first-child:nth-last-child(5) ~ li {
  width: 20%;
}

/* six items */
.tab_area li:first-child:nth-last-child(6),
.tab_area li:first-child:nth-last-child(6) ~ li {
  width: 16.6667%;
}

/* seven items */
.tab_area li:first-child:nth-last-child(7),
.tab_area li:first-child:nth-last-child(7) ~ li {
  width: 14.2857%;
}

/* eight items */
.tab_area li:first-child:nth-last-child(8),
.tab_area li:first-child:nth-last-child(8) ~ li {
  width: 12.5%;
}
.tab_area {
    width: 100%;
}
.tab_area ul {
    width: 100%;
    position: relative;
    float: left;
    margin-top: 15px;
    margin-bottom: 26px;
}

.tab_area li {
    float: left;
    display: block;
    position: relative;
}

.tab_area li a {
    display: block;
    height: 33px;
    padding-top: 17px;
    text-align: center;
    background: #fff;
    font-family: "NanumBold";
    font-size: 15px;
    margin-right: 1px;
    line-height: 1.2;
    color: #777;
}

.tab_area li a.now, .tab_area li a:hover {
    color: #fff;
    background: #1fcbc7;
    margin-right: 0px;
}
.best-prds-container ul {
    display: none;
}
.best-prds-container ul.active {
    display: block
}
.best-prds-container ul > li {
    position: relative;
    overflow: hidden;
    float: left;
    width: 310px;
    height: 429px;
    margin: 0 24px 10px 0;
    background: #fff;
    border-bottom: 1px solid #d7d7d7;
}
.best-prds-container li:last-child {
    margin: 0;
}
.best-prds-container .thumb-img {
    height: 310px;
}
.best-prds-container .delivery_type {
    display: none;
}
.best-prds-container a:hover .delivery_type {
    display: block;
    background: rgba(0,0,0,0.5);
    color: white;
    font-size: 1.2rem;
    position: absolute;
    width: 100%;
    height: 170px;
    padding-top: 45%;
}

.badge_area {
    position: absolute;
    bottom: 123px;
    margin: 0 0 10px 10px;
    font-size: 0;
}

.badge_area > span {
    display: inline-block;
    zoom: 1;
    margin: 0 3px 0 3px;
    padding: 7px 0 4px;
    min-width: 52px;
    height: 11px;
    line-height: 11px;
    text-align: center;
    font-size: 11px;
    color: #fff;
    font-family: Dotum, "Nanum", sans-serif;
}

.badge_area > span[data-badge='베스트'] {
    background: #fa6565;
}
.badge_area > span[data-badge='론칭특가'] {
    background: #a974bf;
}
.badge_area > span[data-badge='이벤트특가'] {
    background: #a974bf; width: 62px;
}
div.badge.free{background: #33bdb9}
div.badge.gift{background: #f8b500; width: 62px;}
div.badge.coupon{background: #fa6565;}
div.badge.stock{background: #585c6a; width: 62px;}
div.badge.friday{background: #585c6a; width: 62px;}
div.badge.finish{background: #333333;}
div.badge.soldout{background: #333333;}
div.badge.ready{background: #585c6a; width: 62px;}

.prds-content {
    text-align: left;
    display: block;
    height: 100%;
}
.prds-content dl {
    padding: 18px 20px 15px;
    height: 90px;
    text-align: left;
}
.prds-content dd.prd_description {
    margin-bottom: 21px;
}

.prds-content dt.prd_tlt {
    font-size: 17px;
    margin-bottom: 6px;
}

dl dt.prd_tlt {
    margin-bottom: 5px;
    font-size: 16px;
    font-family: "NanumEB", "Malgun Gothic", sans-serif;
    letter-spacing: -0.07em;
    color: #000;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
dl dd.prd_description {
    font-size: 13px;
    color: #666;
    font-family: "Nanum";
    width: 100%;
    margin-bottom: 11px;
    overflow: hidden;
    letter-spacing: -0.07em;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.prds-content dd.prd_price {
    float: right;
}
dl dd.prd_price {
    font-family: Montserrat, sans-serif;
    letter-spacing: 0;
}
dl dd.prd_price span.n_price {
    text-decoration: line-through;
    font-size: 14px;
    color: #888;
    font-weight: normal;
    vertical-align: middle;
}
dl dd.prd_price span.s_price {
    letter-spacing: -0.04em;
    margin-left: 9px;
    font-size: 26px;
    color: #2ac1bc;
    font-weight: bold;
    vertical-align: middle;
    line-height: 1;
}

.n_price {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #666;
    text-decoration: line-through;
}
.s_price {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000;
}
.prds-sub_title {
    font-size: 1rem;
    color: #888;
    padding: 26px 0 10px 0;
}
.prds-title {
    font-family: "NanumEB", "Malgun Gothic", sans-serif;
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #000;
}

.main-prds-box {
    position: relative;
}

.main-prds-box-inner {
    width: 980px;
    height: 510px;
    margin: 50px auto;
    /*background: url('http://placehold.it/980x680/DEDAD7/000000?text=Product section%20Area%20(980x810)');*/
}

footer {
    display: block;
    position: relative;
    width: 100%;
    height: 247px;
    border-top: 1px solid #e9e9e9;
    
    font-size: 12px;
    color: #888;
    letter-spacing: -0.01em;
}

.footer-section {
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
}

ul.fnb {
    overflow: hidden;
    padding: 35px 0 22px;
}
ul.fnb li {
    float: left;
    margin-left: 9px;
    letter-spacing: 0;
}
ul.fnb li:first-child {
    margin-left: 0;
}
ul.fnb li:not(:last-child) {   
    border-right: 1px solid #d1d1d1;
}
ul.fnb li a {
    display: block;
    padding-right: 10px;
    font-family: "NanumBold", sans-serif;
    font-size: 13px;
    color: #666;
    text-decoration: none;
    line-height: 0.95;
    letter-spacing: 0;
}
ul.fnb li[strong] > a {
    color: #000;
}

ul.fnb_info_lst li {
    display: inline-block;
    zoom: 1;
    margin: 0 3px 6px 0;
    padding-right: 9px;
    background: url(https://cdn.bmf.kr/web/common/footer_bar.gif) no-repeat right center;
}
ul.fnb_info_lst li.last {
    border-right: none;
    background: none;
}
ul.fnb_info_lst li a span {
    color: #888;
    border-bottom: 1px solid #aaa;
}
.copyright {
    margin: 15px 0 20px;
}
.bottom_copy {
    margin: 0 0 30px;
    color: #999;
    line-height: 1.6em;
}
.footer-snsbox {
    float: right;
    position: absolute;
    top: 31px;
    right: 50%;
    margin-right: -490px;
}
.footer-snsbox a {
    display: inline-block;
    zoom: 1;
    float: left;
    width: 50px;
    height: 50px;
    margin: 0 0 0 10px;
    font-size: 11px;
    color: #fff;
    text-indent: -3000px;
}
.footer-snsbox a.link_blog {
    background: url(https://cdn.bmf.kr/web/common/sns_blog.png) no-repeat center center;
}
.footer-snsbox a.link_facebook {
    background: url(https://cdn.bmf.kr/web/common/sns_facebook.png) no-repeat center center;
}
